<div class="center">
  <h1 class="bs-component blue">Online Tic Tac Toe</h1>

  <h3 class="bs-component blue">Welcome!</h3>
  <p class="bs-component">If you have an account, please login to play</p>
  <p class="bs-component">If not, click Register (it's FREE)</p>

  <p class="bs-component">
    <button type="button" class="btn btn-primary" (click)="login()">
      Log In
    </button>
    <button type="button" class="btn btn-primary" (click)="register()">
      Register
    </button>
  </p>
</div>
