<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.min-1.17.0.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min-3.2.10.js"></script>
    <link href="~/Styles/StylePage.css" rel="stylesheet" />
</head>
<body>   
    <div class="nav-bar">
        <div>The ultimate online pet catalog!</div>
        <div class="menu-container">
            <span class="nav-bar-menu-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </span>
            <span class="nav-bar-menu-item">
                <a asp-controller="Home" asp-action="ShowCatalog">Catalog</a>
            </span>
            <span class="nav-bar-menu-item">
                <a asp-controller="Administrator" asp-action="EditCatalog">Administrator</a>
            </span>
        </div>
    </div>
    <div>
        @RenderBody()
        <br />
        <br />
        <br />
    </div>
</body>
</html>
